  .price-marker {
    background: #0d1c2e;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }

  .custom-popup {
    width: 200px;
  }

  .custom-popup img {
    width: 100%;
    border-radius: 8px;
  }

  .custom-popup h4 {
    margin: 8px 0 4px;
    font-size: 16px;
  }

  .custom-popup p {
    margin: 0;
    font-size: 13px;
    color: #555;
  }
  .mapboxgl-popup-content {
    border-radius: 10px !important;
}