.profile-wrapper {
    .user{
        margin-bottom: -30px;
    }
    .profil{
        display: contents;
        &_image{
            border-radius: 50%;
            height: 120px;
            width: 120px;
            overflow: hidden;
            >img{
                height: 120px;
                width: 120px;
                object-fit: cover;
            }
        }
        &_infos{
            min-height: 395px;
            border-radius: 4px;
            &_tab{
                .row>.title{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        &_title{
            text-transform: capitalize;
            >span{
                text-transform: uppercase;
            }
            &_name{
                color: $blue;
            }
        }
    
    
    }
    .divider{
        border: 1px solid #fff;
        width: 80px;
        display: inline-block;
        margin-bottom: 10px;
    }
    .nav-tabs {
        border-bottom: 1px solid rgba($primary, .2) !important;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #fff !important;
        background-color: $primary !important;
        border-color: $primary $primary $primary !important;
    }
    
    .profile-work {
        strong {
            border-bottom: 1px solid rgba($primary, .2);
            color: $primary;
            font-weight: bolder !important;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    label {
        cursor: pointer;
        /* Style as you please, it will become the visible UI component. */
     }
    
     #image-upload {
        opacity: 0;
        position: absolute;
        z-index: -1;
     }    
}